body{
    background: #000;
    color: #fff;
}

.main-head{
    background: -webkit-linear-gradient(20deg, #57BCFF, #D864C1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 155px;margin-bottom: -25px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sifu-btn{
    margin: 10px 0;
    padding: 17px 0;
    font-size: 22px;
    background: #FFFFFF;
    color: #000;
    font-weight: 800;
    border-radius: 20px;
    width: 60%
}

.sifu-btn:hover{
    transform: scale(1.05);
    background: #FFFFFF;
    color: #000;
    transition: .5s;
}

.platforms{
    background: #007bff;
    height: 220px;
    border-radius: 20px;
    padding: 0 20px;
}

.platforms-p{
    font-size: 22px;
    color: #fff;
    font-weight: 800;
}

.platforms:hover, .socials:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

.right-text{
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 25px;
    background: #FFE4B0;
    color: #000;
    font-weight: 800;
}

.row{
    margin: 0 100px;
}

.main-sub{
    font-size: 55px;
}

.left-text{
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px 20px;
    background: #48C0F2;
}

.left-text img{
    width: 50px;
}

.socials{
    border-radius: 20px;
}

@media only screen and (max-width: 667px) {
    .row{
        margin: unset
    }

    .main-head{
        font-size: 40px !important;
        margin-bottom: 20px;
    }

    .sifu{
        display: none;
    }

    .main-sub{
        font-size: 30px !important;
    }
  }